/* # Aesop Story Engine
---------------------------------------------------------------------------------------------------- */

$aesop-content-width: rem-calc(650);
$aesop-medium-down: "only screen and (max-width: 800px)";
$aesop-small-down: "only screen and (max-width: 480px)";

.full-width-content.aesop-on-harker-2015 {
    .row {
        max-width: none;
    }

    .content {
        padding-left: 0;
        padding-right: 0;
        width: auto;
    }

    .entry-header,
    .entry-content > :not(.aesop-component),
    .entry-content > .scroll-nav__section > :not(.aesop-component),
    .aesop-content,
    .entry-footer,
    .author-box,
    .comment-respond {
        width: 100%;
        max-width: $aesop-content-width;
        margin-left: auto;
        margin-right: auto;
        padding-left: $column-gutter/2;
        padding-right: $column-gutter/2;
    }
    .entry-content .scroll-nav__section {
        max-width: none;
        margin-left: 0;
        margin-right: 0;
        padding-left: 0;
        padding-right: 0;
    }
    .content .entry-content > {
        ul, ol {
            padding-left: $column-gutter*2;
        }
        blockquote, table, pre {
            width: $aesop-content-width - $column-gutter;
        }
        table, pre {
            padding-left: 0;
            padding-right: 0;
        }
        .aesop-content.aesop-component-align-left,
        .aesop-content.aesop-component-align-right {
            margin: 0 ($column-gutter/2) rhythm(0.5);
        }
    }
}

.aesop-component {
    margin-left: 0;
    margin-right: 0;
    
    &.aesop-component-align-left,
    &.aesop-component-align-right {
        margin: 0 ($column-gutter/2) rhythm(0.5);
    }
    &.aesop-component-align-center {
        margin-left: auto;
        margin-right: auto;
    }
}

.aesop-image-component {
    .aesop-image-component-image {
        margin-top: 0;
    }

    .aesop-img-enlarge, 
    .aesop-image-component-caption,
    .aesop-cap-cred {
        color: $mediumgray;
    }

    .aesop-cap-cred {
        border-color: $default-border-color;
    }
}

.aesop-character-component {
    .aesop-content {
        width: auto;
        max-width: none;
        margin: 0;
        float: left;
    }
    .aesop-character-cap {
        color: $mediumgray;
        line-height: 1.5;
        font-style: normal;
        border-color: $default-border-color;
    }
}

.aesop-quote-component.aesop-component {
    margin: rhythm(1) auto;
    border-color: $default-border-color;
    padding: 0.75rem 1.5rem 0;

    &.aesop-component-align-left {
        margin: rhythm(1) auto rhythm(1) $column-gutter/2;
        border-left: 5px solid $default-border-color;
    }
    &.aesop-component-align-right {
        margin: rhythm(1) $column-gutter/2 rhythm(1) auto;
        border-right: 5px solid $default-border-color;
    }
    &.aesop-component-align-center {
        border-top: 5px solid $default-border-color;
    }
    &.aesop-quote-type-block, 
    &.quote-has-image {
        padding-bottom: 0.75rem;
        border: none;

        blockquote, cite {
            color: inherit;
        }
    }

    blockquote {
        line-height: 1;
        font-weight: 100;
    }
    cite {
        margin-top: rhythm(0.5);
    }

}

.aesop-component.aesop-content-component {
    .aesop-content-comp-inner {
        padding-left: 0;
        padding-right: 0;

        p {
            line-height: 1.5em;
        }
    }
} 

.aesop-article-chapter {
    height: rem-calc(600) !important;
    background-position: 50% 33% !important;

    @media #{$aesop-medium-down} {
        height: rem-calc(400) !important;
    }
    @media #{$aesop-small-down} {
        height: rem-calc(200) !important;
    }
}
.aesop-article-chapter-wrap .aesop-cover-title small {
    color: $white;
    font-size: 0.625em;
    font-weight: 100;
    text-transform: none;

    @media #{$aesop-medium-down} {
        display: block;
        font-size: 0.625em;
        line-height: 1.2;
    }
    @media #{$aesop-small-down} {
        font-size: 0.625em;
    }
}
.aesop-toggle-chapter-menu {
    text-decoration: none;
}

.aesop-parallax-sc {
    margin-left: 0;
    margin-right: 0;
}

.aesop-video-component-caption {
    clear: both;
}