// Buttons
// - - - - - - - - - - - - - - - - - - - - - - - - -

@mixin button-secondary() {
    background-color: $secondary-color;
    border-color: $secondary-button-border-color;
    color: $button-font-color-alt;
    &:hover, &:focus {
      background-color: $secondary-button-bg-hover;
      color: $button-font-color-alt;
    }
}

.button {
    line-height: rhythm(1);
    padding: rhythm(0.5) 2rem;
    @include box-shadow($default-shadow);
}

p, ul, ol, dl {
    + p .button {
        margin: rhythm(0.5) 0;
    }
}

.button-small {
    padding: rhythm(0.25) 2rem;
}

.button-outline,
.button-outline-invert {
    &, &:hover, &:focus {
        background: transparent;
        font-weight: 100;
        font-size: rem-calc(22);
        padding-top: rem-calc(12);
        padding-bottom: rem-calc(12);
    }
    @include box-shadow(none);
}

.button-outline {
    &, &:hover, &:focus {
        border: 1px solid $oil;
        color: $oil;
    }
}


.button-outline-invert {
    &, &:hover, &:focus {
        border: 1px solid $white;
        color: $white;
    }
}

.button-group {
    margin: rhythm(1) 0 rhythm(0.5);
    padding: 0;
    list-style: none;
    > li {
        display: inline-block;
        margin: 0 1rem rhythm(0.5) 0;
    }
}
