/* # Table of Contents
- Imports
- HTML5 Reset
    - Baseline Normalize
    - Box Sizing
    - Float Clearing
- Defaults
    - Typographical Elements
    - Headings
    - Objects
    - Gallery
    - Forms
    - Tables
    - Screen Reader Text
- Structure and Layout
    - Site Containers
    - Column Widths and Positions
    - Column Classes
- Common Classes
    - Avatar
    - Genesis
    - Search Form
    - Titles
    - WordPress
- Widgets
    - Featured Content
- Plugins
    - Genesis eNews Extended
    - Jetpack
- Site Header
    - Title Area
    - Widget Area
- Site Navigation
    - Accessible Menu
    - Site Header Navigation
    - Primary Navigation
    - Secondary Navigation
    - Skip Links
- Content Area
    - Entries
    - Entry Meta
    - Pagination
    - Comments
- Sidebars
- Site Footer
- Media Queries
    - Retina Display
    - Max-width: 1200px
    - Max-width: 960px
    - Max-width: 800px
- Print Styles
*/


/* # Imports
---------------------------------------------------------------------------------------------------- */

// @import url(//fonts.googleapis.com/css?family=Lato:300,400,700); // imported via functions.php

/* # HTML5 Reset
---------------------------------------------------------------------------------------------------- */

/* ## Baseline Normalize
--------------------------------------------- */

// No styles, already set earlier

/* ## Box Sizing
--------------------------------------------- */

// No styles, already set by Foundation

/* ## Float Clearing
--------------------------------------------- */

.author-box:before,
.clearfix:before,
.entry:before,
.entry-content:before,
.nav-primary:before,
.nav-secondary:before,
.pagination:before,
.site-container:before,
.site-footer:before,
.site-header:before,
.site-inner:before,
.wrap:before {
    content: " ";
    display: table;
}

.author-box:after,
.clearfix:after,
.entry:after,
.entry-content:after,
.nav-primary:after,
.nav-secondary:after,
.pagination:after,
.site-container:after,
.site-footer:after,
.site-header:after,
.site-inner:after,
.wrap:after {
    clear: both;
    content: " ";
    display: table;
}


/* # Defaults
---------------------------------------------------------------------------------------------------- */

/* ## Typographical Elements
--------------------------------------------- */

// No styles

/* ## Headings
--------------------------------------------- */

// No styles

/* ## Objects
--------------------------------------------- */

embed,
iframe,
img,
object,
video,
.wp-caption {
    max-width: 100%;
}

img {
    height: auto;
}

.featured-content img,
.gallery img {
    width: auto;
}

/* ## Gallery
--------------------------------------------- */

.gallery {
    overflow: hidden;
}

.gallery-item {
    float: left;
    margin: 0 0 rhythm(1); // margin: 0 0 28px;
    text-align: center;
}

.gallery-columns-2 .gallery-item {
    width: 50%;
}

.gallery-columns-3 .gallery-item {
    width: 33%;
}

.gallery-columns-4 .gallery-item {
    width: 25%;
}

.gallery-columns-5 .gallery-item {
    width: 20%;
}

.gallery-columns-6 .gallery-item {
    width: 16.6666%;
}

.gallery-columns-7 .gallery-item {
    width: 14.2857%;
}

.gallery-columns-8 .gallery-item {
    width: 12.5%;
}

.gallery-columns-9 .gallery-item {
    width: 11.1111%;
}

.gallery img {
    border: 1px solid $default-border-color;
    height: auto;
    padding: 4px;
}

/* ## Forms
--------------------------------------------- */

// No styles

/* ## Tables
--------------------------------------------- */

// No styles

/* ## Screen Reader Text
--------------------------------------------- */

.screen-reader-text,
.screen-reader-text span,
.screen-reader-shortcut {
    position: absolute !important;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    width: 1px;
    border: 0;
    overflow: hidden;
}

.screen-reader-text:focus,
.screen-reader-shortcut:focus,
.genesis-nav-menu .search input[type="submit"]:focus,
.widget_search input[type="submit"]:focus  {
    clip: auto !important;
    height: auto;
    width: auto;
    display: block;
    font-size: 1em;
    font-weight: bold;
    padding: 15px 23px 14px;
    color: #333;
    background: #fff;
    z-index: 100000; /* Above WP toolbar. */
    text-decoration: none;
    box-shadow: 0 0 2px 2px rgba(0,0,0,.6);
}

.more-link {
    position: relative;
}


/* # Structure and Layout
---------------------------------------------------------------------------------------------------- */

/* ## Site Containers
--------------------------------------------- */

.site-inner {
    clear: both;
}

/* ## Column Widths and Positions
--------------------------------------------- */

/* ### Site Layout Options */

.content-sidebar,
.sidebar-content,
.content-sidebar-sidebar,
.sidebar-content-sidebar,
.sidebar-sidebar-content {
    .site-inner {
        @include grid-row();
    }
}

.content-sidebar {
    .content {
        @include grid-column($columns:15);
    }
    .sidebar-primary {
        @include grid-column($columns:8, $float:right);
    }
}

.sidebar-content {
    .content {
        @include grid-column($columns:15, $push:9);
    }
    .sidebar-primary {
        @include grid-column($columns:8, $float:right, $pull:16);
    }
}

.content-sidebar-sidebar {
    .content-sidebar-wrap {
        @include grid-column($columns:18, $collapse:true);
    }
    .sidebar-secondary {
        @include grid-column($columns:6, $float:right);
    }
    .content {
        @include grid-column($columns:16);
    }
    .sidebar-primary {
        @include grid-column($columns:8, $float:right);
    }
}

.sidebar-sidebar-content,
.sidebar-content-sidebar {
    .content-sidebar-wrap {
        @include grid-column($columns:18, $collapse:true, $push:6);
    }
    .sidebar-secondary {
        @include grid-column($columns:6, $float:right, $pull:18);
    }
}

.sidebar-sidebar-content {
    .content {
        @include grid-column($columns:16, $push:8);
    }
    .sidebar-primary {
        @include grid-column($columns:8, $float:right, $pull:16);
    }
}

.sidebar-content-sidebar {
    .content {
        @include grid-column($columns:16);
    }
    .sidebar-primary {
        @include grid-column($columns:8, $float:right);
    }
}


/* # Common Classes
---------------------------------------------------------------------------------------------------- */

/* ## Avatar
--------------------------------------------- */

.avatar {
    float: left;
}

.alignleft .avatar,
.author-box .avatar {
    margin-right: $column-gutter;
}

.alignright .avatar {
    margin-left: $column-gutter;
}

.comment .avatar {
    margin: 0 $column-gutter/2 rhythm(1) 0;
}

/* ## Genesis
--------------------------------------------- */

.breadcrumb {
    margin-bottom: rhythm(1);
}

.archive-description,
.author-box {
    background-color: $white;
    margin-bottom: rhythm(2);
    padding: rhythm(1) 1rem;
}

.author-box-title {
    margin-bottom: rhythm(0.25);
}

.archive-description p:last-child,
.author-box p:last-child {
    margin-bottom: 0;
}

/* ## Search Form
--------------------------------------------- */

.search-form {
    overflow: hidden;
}

.site-header .search-form {
    float: right;
    margin-top: rhythm(0.5);
}

.entry-content .search-form,
.site-header .search-form {
    width: 50%;
}

.genesis-nav-menu .search input[type="submit"],
.widget_search input[type="submit"] {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    padding: 0;
    position: absolute;
    width: 1px;
}

/* ## Titles
--------------------------------------------- */

.archive-title {
    font-size: $h3-font-size;
}

.entry-title {
    font-size: $h2-font-size;
    margin-bottom: 0;
}

.entry-title a,
.sidebar .widget-title a {
    font-weight: $header-font-weight;
    color: $header-font-color;
    text-transform: uppercase;
}

.entry-title a:hover,
.entry-title a:focus {
    color: $blue;
}

.widget-title {
    font-size: $h4-font-size;
    margin-bottom: rhythm(1);
}

/* ## WordPress
--------------------------------------------- */

a.aligncenter img {
    display: block;
    margin: 0 auto;
}

a.alignnone {
    display: inline-block;
}

.alignleft {
    float: left;
    text-align: left;
}

.alignright {
    float: right;
    text-align: right;
}

a.alignleft,
a.alignnone,
a.alignright {
    max-width: 100%;
}

img.centered,
.aligncenter {
    display: block;
    margin: 0 auto rhythm(1);
}

img.alignnone,
.alignnone {
    margin-bottom: rhythm(0.5);
}

a.alignleft,
img.alignleft,
.wp-caption.alignleft {
    margin: 0 $column-gutter rhythm(1) 0;
}

a.alignright,
img.alignright,
.wp-caption.alignright {
    margin: 0 0 rhythm(1) $column-gutter;
}

.wp-caption-text {
    font-size: rem-calc(14);
    font-weight: 700;
    text-align: center;
}

.entry-content p.wp-caption-text {
    margin-bottom: 0;
}

.sticky {
}

.entry-content .wp-audio-shortcode,
.entry-content .wp-playlist,
.entry-content .wp-video {
    margin: 0 0 rhythm(1);
}


/* # Widgets
---------------------------------------------------------------------------------------------------- */

.widget {
    word-wrap: break-word;
}

.widget_calendar table {
    width: 100%;
}

.widget_calendar td,
.widget_calendar th {
    text-align: center;
}

/* ## Featured Content
--------------------------------------------- */

.featured-content .entry {
    border-bottom: 2px solid $default-border-color;
    margin-bottom: rhythm(1);
    padding: 0 0 rhythm(1);
}

.featured-content .entry-title {
    font-size: $h3-font-size;
}


/* # Plugins
---------------------------------------------------------------------------------------------------- */

/* ## Genesis eNews Extended
--------------------------------------------- */

.enews-widget,
.enews-widget .widget-title {
    color: $white;
}

.sidebar .widget.enews-widget {
    background-color: $darkergray;
}

.enews-widget input,
.enews-widget input:focus {
    border: 1px solid $darkergray;;
}

.enews-widget input {
    font-size: 1rem;
    margin-bottom: rhythm(0.5);
}

// .enews-widget input[type="submit"] {
//     background-color: #c3251d;
//     color: #fff;
//     margin: 0;
//     width: 100%;
// }

// .enews-widget input:hover[type="submit"],
// .enews-widget input:focus[type="submit"]  {
//     background-color: #fff;
//     color: #333;
// }

.enews form + p {
    margin-top: rhythm(1);
}

/* ## Jetpack
--------------------------------------------- */

#wpstats {
    display: none;
}


/* # Skip Links
---------------------------------------------------------------------------------------------------- */
.genesis-skip-link {
    margin: 0;
}

.genesis-skip-link li {
    height: 0;
    width: 0;
    list-style: none;
}

/* Display outline on focus */
:focus {
    color: $darkergray;
    outline: $default-border-color solid 1px;
}


/* # Site Header
---------------------------------------------------------------------------------------------------- */

// .site-header {
//     background-color: $white;
// }

// .site-header .wrap {
//     padding: rhythm(1) 0;
// }

// /* ## Title Area
// --------------------------------------------- */

// .title-area {
//     float: left;
//     padding: 10px 0;
//     width: 360px;
// }

// .header-full-width .title-area {
//     width: 100%;
// }

// .site-title {
//     font-size: 32px;
//     font-size: 3.2rem;
//     font-weight: 400;
//     line-height: 1.2;
// }

// .site-title a,
// .site-title a:hover,
// .site-title a:focus {
//     color: #333;
// }

// .header-image .site-title > a {
//     background: url(images/logo.png) no-repeat left;
//     float: left;
//     min-height: 60px;
//     width: 100%;
// }

// .site-description {
//     font-size: 16px;
//     font-size: 1.6rem;
//     font-weight: 300;
//     line-height: 1.5;
// }

// .site-description,
// .site-title {
//     margin-bottom: 0;
// }

// .header-image .site-description,
// .header-image .site-title {
//     display: block;
//     text-indent: -9999px;
// }

// /* ## Widget Area
// --------------------------------------------- */

// .site-header .widget-area {
//     float: right;
//     text-align: right;
//     width: 800px;
// }


/* # Site Navigation
---------------------------------------------------------------------------------------------------- */

.genesis-nav-menu {
    clear: both;
    font-size: 16px;
    font-size: 1.6rem;
    line-height: 1;
    width: 100%;
}

.genesis-nav-menu .menu-item {
    display: inline-block;
    text-align: left;
}

.genesis-nav-menu a {
    color: #333;
    text-decoration: none;
    display: block;
    padding: 30px 24px;
}

.genesis-nav-menu a:hover,
.genesis-nav-menu a:focus,
.genesis-nav-menu .current-menu-item > a,
.genesis-nav-menu .sub-menu .current-menu-item > a:hover,
.genesis-nav-menu .sub-menu .current-menu-item > a:focus  {
    color: #c3251d;
    text-decoration: underline;
}

.genesis-nav-menu .sub-menu {
    left: -9999px;
    opacity: 0;
    position: absolute;
    -webkit-transition: opacity .4s ease-in-out;
    -moz-transition:    opacity .4s ease-in-out;
    -ms-transition:     opacity .4s ease-in-out;
    -o-transition:      opacity .4s ease-in-out;
    transition:         opacity .4s ease-in-out;
    width: 200px;
    z-index: 99;
}

.genesis-nav-menu .sub-menu a {
    background-color: #fff;
    border: 1px solid #eee;
    border-top: 0;
    font-size: 14px;
    font-size: 1.4rem;
    padding: 20px;
    position: relative;
    width: 200px;
    word-wrap: break-word;
}

.genesis-nav-menu .sub-menu .sub-menu {
    margin: -55px 0 0 199px;
}

.genesis-nav-menu .menu-item:hover {
    position: static;
}

.genesis-nav-menu .menu-item:hover > .sub-menu {
    left: auto;
    opacity: 1;
}

.genesis-nav-menu > .first > a {
    padding-left: 0;
}

.genesis-nav-menu > .last > a {
    padding-right: 0;
}

.genesis-nav-menu > .right {
    color: #fff;
    float: right;
    list-style-type: none;
    padding: 30px 0;
}

.genesis-nav-menu > .right > a {
    display: inline;
    padding: 0;
}

.genesis-nav-menu > .rss > a {
    margin-left: 48px;
}

.genesis-nav-menu > .search {
    padding: 10px 0 0;
}

/* ## Accessible Menu
--------------------------------------------- */

.menu .menu-item:focus {
    position: static;
}

.menu .menu-item > a:focus + ul.sub-menu,
.menu .menu-item.sfHover > ul.sub-menu {
    left: auto;
    opacity: 1;
}

/* ## Site Header Navigation
--------------------------------------------- */

.site-header .sub-menu {
    border-top: 1px solid #eee;
}

.site-header .sub-menu .sub-menu {
    margin-top: -56px;
}

.site-header .genesis-nav-menu li li {
    margin-left: 0;
}

/* ## Primary Navigation
--------------------------------------------- */

.nav-primary {
    background-color: #333;
}

.nav-primary .genesis-nav-menu a {
    color: #ccc;
    text-decoration: none;
}

.nav-primary .genesis-nav-menu a:hover,
.nav-primary .genesis-nav-menu a:focus,
.nav-primary .genesis-nav-menu .current-menu-item > a {
    color: #fff;
    text-decoration: underline;
}

.nav-primary .genesis-nav-menu .sub-menu a {
    color: #333;
}

.nav-primary .genesis-nav-menu .sub-menu a:hover,
.nav-primary .genesis-nav-menu .sub-menu a:focus,
.nav-primary .genesis-nav-menu .sub-menu .current-menu-item > a {
    color: #c3251d;
    text-decoration: underline;
}

/* ## Secondary Navigation
--------------------------------------------- */

.nav-secondary {
    background-color: #fff;
}

/* # Content Area
---------------------------------------------------------------------------------------------------- */

/* ## Entries
--------------------------------------------- */

.entry {
    margin: 0 -1rem;
    padding: rhythm(2) $column-gutter/2;
}

/* ## Entry Meta
--------------------------------------------- */

p.entry-meta {
    margin-bottom: 0;
}

.entry-header .entry-meta {
    margin-bottom: rhythm(1);
}

.entry-footer .entry-meta {
    border-top: 1px solid $default-border-color;
    padding-top: rhythm(0.5);
    font-size: rem-calc(14);
}

.entry-categories,
.entry-tags {
    display: block;
}

.entry-comments-link::before {
    content: "\2014";
    margin: 0 6px 0 2px;
}

/* ## Pagination
--------------------------------------------- */

.pagination {
    clear: both;
    margin: rhythm(2) 0;
}

.adjacent-entry-pagination {
    margin-bottom: 0;
}

.archive-pagination li {
    display: inline;
}

.archive-pagination li a:hover,
.archive-pagination li a:focus,
.archive-pagination .active a {
    text-decoration: none;
}

/* ## Comments
--------------------------------------------- */

.comment-respond,
.entry-comments,
.entry-pings {
    padding: rhythm(1);
    border: 1px solid $default-border-color;
    margin-bottom: rhythm(1);
}

// .comment-respond,
// .entry-pings {
//     padding: 40px 40px 16px;
// }

// .entry-comments {
//     padding: 40px;
// }

.comment-content {
    clear: both;
    word-wrap: break-word;
}

.comment-list {
    margin-left: 0;
    list-style: none;
}

.comment > .children {
    list-style: none;
}

.comment > article {
    margin-bottom: rhythm(2);
}

.children .comment > article {
    margin-bottom: rhythm(1);
}

.comment-respond input[type="email"],
.comment-respond input[type="text"],
.comment-respond input[type="url"] {
    width: 50%;
}

.comment-respond label {
    display: block;
    margin-right: 12px;
}

.entry-comments .comment-author {
    margin-bottom: 0;
}

.entry-pings .reply {
    display: none;
}

.bypostauthor {
}

.form-allowed-tags {
    padding: 24px;
}


/* # Sidebars
---------------------------------------------------------------------------------------------------- */

.sidebar {
    font-size: 16px;
    font-size: 1.6rem;
}

.sidebar li {
    border-bottom: 1px dotted #ddd;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.sidebar p:last-child,
.sidebar ul > li:last-child {
    margin-bottom: 0;
}

.sidebar .widget {
    background-color: #fff;
    margin-bottom: 40px;
    padding: 40px;
}


/* # Site Footer
---------------------------------------------------------------------------------------------------- */

.site-footer {
    background-color: #fff;
    font-size: 16px;
    font-size: 1.6rem;
    line-height: 1;
    padding: 40px 0;
    text-align: center;
}

.site-footer p {
    margin-bottom: 0;
}


/* # Media Queries
---------------------------------------------------------------------------------------------------- */

@media only screen and (max-width: 1200px) {

    .site-inner,
    .wrap {
        max-width: 960px;
    }

    .content-sidebar-sidebar .content-sidebar-wrap,
    .sidebar-content-sidebar .content-sidebar-wrap,
    .sidebar-sidebar-content .content-sidebar-wrap {
        width: 740px;
    }

    .content,
    .site-header .widget-area {
        width: 620px;
    }

    .sidebar-content-sidebar .content,
    .sidebar-sidebar-content .content,
    .content-sidebar-sidebar .content {
        width: 400px;
    }

    .sidebar-primary,
    .title-area {
        width: 300px;
    }

}

@media only screen and (max-width: 960px) {

    .site-inner,
    .wrap {
        max-width: 800px;
    }

    .content,
    .content-sidebar-sidebar .content,
    .content-sidebar-sidebar .content-sidebar-wrap,
    .sidebar-content-sidebar .content,
    .sidebar-content-sidebar .content-sidebar-wrap,
    .sidebar-primary,
    .sidebar-secondary,
    .sidebar-sidebar-content .content,
    .sidebar-sidebar-content .content-sidebar-wrap,
    .site-header .widget-area,
    .title-area {
        width: 100%;
    }

    .site-header .wrap {
        padding: 20px 5%;
    }

    .header-image .site-title > a {
        background-position: center top;
    }

    .genesis-nav-menu li,
    .site-header ul.genesis-nav-menu,
    .site-header .search-form {
        float: none;
    }

    .genesis-nav-menu,
    .site-description,
    .site-header .title-area,
    .site-header .search-form,
    .site-title {
        text-align: center;
    }

    .genesis-nav-menu a,
    .genesis-nav-menu > .first > a,
    .genesis-nav-menu > .last > a {
        padding: 20px 16px;
    }

    .site-header .search-form {
        margin: 16px auto;
    }

    .genesis-nav-menu li.right {
        display: none;
    }

}

@media only screen and (max-width: 800px) {

    body {
        background-color: #fff;
        font-size: 16px;
        font-size: 1.6rem;
    }

    .site-inner,
    .wrap {
        padding-left: 5%;
        padding-right: 5%;
    }

    .archive-description,
    .author-box,
    .comment-respond,
    .entry,
    .entry-comments,
    .entry-pings,
    .sidebar .widget,
    .site-header {
        padding: 0;
    }

    .archive-pagination li a {
        margin-bottom: 4px;
    }

    .five-sixths,
    .four-sixths,
    .one-fourth,
    .one-half,
    .one-sixth,
    .one-third,
    .three-fourths,
    .three-sixths,
    .two-fourths,
    .two-sixths,
    .two-thirds {
        margin: 0;
        width: 100%;
    }

    .sidebar .widget.enews-widget {
        padding: 40px;
    }

}


/* # Print Styles
---------------------------------------------------------------------------------------------------- */

@media print {

    *,
    *:before,
    *:after {
        background: transparent !important;
        box-shadow: none !important;
        color: #000 !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="javascript:"]:after,
    a[href^="#"]:after,
    .site-title > a:after {
        content: "";
    }

    thead {
        display: table-header-group;
    }

    img,
    tr {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 2cm 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    blockquote,
    pre {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    .content,
    .content-sidebar {
        width: 100%;
    }

    button,
    input,
    select,
    textarea,
    .breadcrumb,
    .comment-edit-link,
    .comment-form,
    .comment-list .reply a,
    .comment-reply-title,
    .edit-link,
    .entry-comments-link,
    .entry-footer,
    .genesis-box,
    .header-widget-area,
    .hidden-print,
    .home-top,
    .nav-primary,
    .nav-secondary,
    .post-edit-link,
    .sidebar {
        display: none !important;
    }

    .title-area {
        text-align: center;
        width: 100%;
    }

    .site-title > a {
        margin: 0;
        text-decoration: none;
        text-indent: 0;
    }

    .site-inner {
        padding-top: 0;
        position: relative;
        top: -100px;
    }

    .author-box {
        margin-bottom: 0;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        orphans: 3;
        page-break-after: avoid;
        page-break-inside: avoid;
        widows: 3;
    }


    img {
        page-break-after: avoid;
        page-break-inside: avoid;
    }

    blockquote,
    pre,
    table {
        page-break-inside: avoid;
    }

    dl,
    ol,
    ul {
        page-break-before: avoid;
    }

}
