/* # Mixins
---------------------------------------------------------------------------------------------------- */

@mixin hkr-panel() {
    background: $white;
    padding: $column-gutter/2;
    @include box-shadow($default-shadow);
}

@mixin hkr-panel-reset() {
    background: transparent;
    padding: 0;
    @include box-shadow(none);
}

@mixin hkr-post-listing-header() {
    .entry-header {
        margin-bottom: rhythm(0.5);
    }
    .entry-title {
        font-size: rem-calc(20);
        line-height: rhythm(1);
        text-transform: none;
        a {
            text-transform: none;
        }
    }
    .entry-header .entry-meta {
        font-size: rem-calc(12);
        line-height: 1.25em;
        padding-top: rem-calc(5);
        padding-bottom: rem-calc(4);
    }
    .entry-time {
        text-transform: none;
    }
    .entry-title,
    .entry-header .entry-meta {
        margin-bottom: rhythm(0.5);
    }
    .entry-header .entry-title + .entry-meta {
        margin-top: -(rhythm(0.5));
    }
}

/* # Float Clearing
--------------------------------------------- */

.author-box,
.clearfix,
.entry,
.entry-content,
.nav-primary,
.nav-secondary,
.pagination,
.site-container,
.site-footer,
.site-header,
.site-inner,
.wrap {
    @include clearfix();
}

/* # Defaults
---------------------------------------------------------------------------------------------------- */

/* ## Typographical Elements
--------------------------------------------- */

// No styles

/* ## Headings
--------------------------------------------- */

// No styles

/* ## Objects
--------------------------------------------- */

embed,
iframe,
img,
object,
video,
.wp-caption {
    max-width: 100%;
}

img {
    height: auto;
}

.featured-content img,
.gallery img {
    width: auto;
}

/* ## Gallery
--------------------------------------------- */

.gallery {
    overflow: hidden;
}

.gallery-item {
    float: left;
    margin: 0 0 rhythm(1); // margin: 0 0 28px;
    text-align: center;
}

.gallery-columns-2 .gallery-item {
    width: 50%;
}

.gallery-columns-3 .gallery-item {
    width: 33%;
}

.gallery-columns-4 .gallery-item {
    width: 25%;
}

.gallery-columns-5 .gallery-item {
    width: 20%;
}

.gallery-columns-6 .gallery-item {
    width: 16.6666%;
}

.gallery-columns-7 .gallery-item {
    width: 14.2857%;
}

.gallery-columns-8 .gallery-item {
    width: 12.5%;
}

.gallery-columns-9 .gallery-item {
    width: 11.1111%;
}

.gallery img {
    border: 1px solid $default-border-color;
    height: auto;
    padding: 4px;
}

/* ## Forms
--------------------------------------------- */

// No styles

/* ## Tables
--------------------------------------------- */

// No styles

/* ## Screen Reader Text
--------------------------------------------- */

.screen-reader-text,
.screen-reader-text span,
.screen-reader-shortcut {
    position: absolute !important;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    width: 1px;
    border: 0;
    overflow: hidden;
}

.screen-reader-text:focus,
.screen-reader-shortcut:focus,
.genesis-nav-menu .search input[type="submit"]:focus,
.widget_search input[type="submit"]:focus  {
    clip: auto !important;
    height: auto;
    width: auto;
    display: block;
    font-size: 1em;
    font-weight: bold;
    padding: 15px 23px 14px;
    color: #333;
    background: #fff;
    z-index: 100000; /* Above WP toolbar. */
    text-decoration: none;
    box-shadow: 0 0 2px 2px rgba(0,0,0,.6);
}

.more-link {
    position: relative;
}


/* # Structure and Layout
---------------------------------------------------------------------------------------------------- */

/* ## Site Containers
--------------------------------------------- */

.site-inner {
    clear: both;
    padding: rhythm(2) 0;
    background: $body-bg;
    position: relative;

    .custom-background & {
        background: $body-bg;
    }
}

/* ## Column Widths and Positions
--------------------------------------------- */

/* ### Site Layout Options */

.content,
.sidebar-primary,
.sidebar-secondary {
    @include grid-column($columns:24, $float:false);
}

.sidebar-secondary {
    clear: both;
}

@media #{$medium-up} {

    .content-sidebar {
        .content {
            @include grid-column($columns:15);
        }
        .sidebar-primary {
            @include grid-column($columns:9, $float:right);
        }
    }

    .sidebar-content {
        .content {
            @include grid-column($columns:15, $push:9);
        }
        .sidebar-primary {
            @include grid-column($columns:9, $float:right, $pull:15);
        }
    }

    .content-sidebar-sidebar {
        .content {
            @include grid-column($columns:15);
        }
        .sidebar-primary {
            @include grid-column($columns:9, $float:right);
        }
    }

    .sidebar-sidebar-content {
        .content {
            @include grid-column($columns:15, $push:9);
        }
        .sidebar-primary {
            @include grid-column($columns:9, $float:right, $pull:9);
        }
    }

    .sidebar-content-sidebar {
        .content {
            @include grid-column($columns:15);
        }
        .sidebar-primary {
            @include grid-column($columns:9, $float:right);
        }
    }

}

@media #{$large-up} {
    .content-sidebar {
        .content {
            @include grid-column($columns:16);
        }
        .sidebar-primary {
            @include grid-column($columns:8, $float:right);
        }
        .entry-content {
            max-width: rem-calc(750-16*2);
        }
    }
    .sidebar-content {
        .sidebar-primary {
            @include grid-column($columns:8, $float:right, $pull:16);
        }
    }

    .sidebar-secondary {
        clear: none;
    }

    .content-sidebar-sidebar {
        .content-sidebar-wrap {
            @include grid-column($columns:19, $collapse:true);
        }
        .sidebar-secondary {
            @include grid-column($columns:5, $float:right);
        }
    }

    .sidebar-sidebar-content,
    .sidebar-content-sidebar {
        .content-sidebar-wrap {
            @include grid-column($columns:19, $collapse:true, $push:5);
        }
        .sidebar-secondary {
            @include grid-column($columns:5, $float:right, $pull:19);
        }
    }
}

.has-single-thumbnail-content {
    .site-inner {
        padding-top: 0;
    }
    .sidebar-primary, .sidebar-secondary {
        padding-top: rhythm(0.5);
    }
}

.page-template-page_home {
    .site-inner {
        padding-top: rem-calc(32);
    }
}

.home {

    .content > .page > .entry-header > .entry-title,
    .content > .archive-description > .entry-title {
        font-size: $h1-font-size - $h1-font-reduction;
        @media #{$medium-up} {
            font-size: $h1-font-size;
        }
    }

}


/* # Common Classes
---------------------------------------------------------------------------------------------------- */

/* ## Avatar
--------------------------------------------- */

.avatar {
    float: left;
    margin-right: $column-gutter/2;
    margin-bottom: rhythm(0.5);
}

.alignleft .avatar,
.author-box .avatar {
    margin-right: $column-gutter/2;
}

.alignright .avatar {
    margin-left: $column-gutter/2;
    margin-right: 0;
}

.comment .avatar {
    margin: 0 $column-gutter/2 rhythm(1) 0;
}

/* ## Genesis
--------------------------------------------- */

.breadcrumb {
    font-size: rem-calc(14);
    line-height: rhythm(1);
    margin: 0 0 rhythm(0.5);
}

.author-box {
    background-color: $white;
    margin-bottom: rhythm(2);
    padding: 1rem;
    @include box-shadow($default-shadow);
}

.author-box-title {
    margin-top: 0;
    margin-bottom: rhythm(0.25);
    text-transform: none;
}

.author-box p:last-child {
    margin-bottom: 0;
}

/* ## Search Form
--------------------------------------------- */

.search-form {
    overflow: hidden;
}

.site-header .search-form {
    float: right;
    margin-top: rhythm(0.5);
}

.entry-content .search-form,
.site-header .search-form {
    width: 50%;
}

.genesis-nav-menu .search input[type="submit"],
.widget_search input[type="submit"] {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    padding: 0;
    position: absolute;
    width: 1px;
}

/* ## Title Links
--------------------------------------------- */

.entry-title a,
.widget-title a,
.widgettitle a {
    color: $header-font-color;
}

.entry-title a:hover,
.entry-title a:focus {
    color: $blue;
}

/* ## WordPress
--------------------------------------------- */

a.aligncenter img {
    display: block;
    margin: 0 auto;
}

a.alignnone {
    display: inline-block;
}

.alignleft {
    float: left;
    text-align: left;
}

.alignright {
    float: right;
    text-align: right;
}

a.alignleft,
a.alignnone,
a.alignright {
    max-width: 100%;
}

img.centered,
.aligncenter {
    display: block;
    margin: rhythm(1) auto;
}

img.alignnone,
.alignnone {
    margin: rhythm(1) 0;
}

a.alignleft,
img.alignleft,
.wp-caption.alignleft {
    margin: 0 $column-gutter/2 rhythm(0.5) 0;
}

a.alignright,
img.alignright,
.wp-caption.alignright {
    margin: 0 0 rhythm(0.5) $column-gutter/2;
}

.gallery-caption,
.wp-caption-text {
    font-size: rem-calc(12);
    font-weight: 700;
    text-align: center;
    margin-top: rhythm(0.5);
    color: $mediumgray;
}

.entry-content p.wp-caption-text {
    margin-bottom: 0;
}

.sticky {
}

.entry-content .wp-audio-shortcode,
.entry-content .wp-playlist,
.entry-content .wp-video {
    margin: rhythm(1) 0;
}


/* # Widgets
---------------------------------------------------------------------------------------------------- */

.widget {
    word-wrap: break-word;
    margin: 0 0 rhythm(1);
}

.widget-title,
.widgettitle {
    font-size: rem-calc(16);
    line-height: rhythm(1);
    margin-bottom: rhythm(0.5);
    text-transform: none;
}

.widget-wrap {
    > * {
        @include hkr-panel();
    }
    > ul, > ol, > dl {
        margin-left: 0;
        padding-left: $column-gutter/2 + $list-side-margin;
    }
    > .widget-title, > .widgettitle,
    #calendar_wrap,
    .search-form {
        @include hkr-panel-reset();
    }
}

.textwidget > :last-child {
    margin-bottom: 0;
}

.widget_rss {
    .widget-title {
        a {
            font-weight: normal;
        }
    }
    .widget-wrap > ul {
        list-style: none;
        padding-left: 1rem;

        li {
            margin-bottom: rhythm(1);

            &:last-child, &:last-child .rssSummary {
                margin-bottom: 0;
            }
        }
    }
}
.rss-widget-icon {
    position: relative;
    top: -2px; // align with text
    margin-right: 0.25em;
}
.rss-date {
    display: block;
    font-size: rem-calc(12);
}
.rssSummary {
    margin: rhythm(0.5) 0;
}

.widget_calendar {
    table {
        width: 100%;
    }
    td, th {
        text-align: center;
    }
} 

.home-widgets-banner {
    background: $darkergray;
    color: $white;

    .widget {
        margin-bottom: 0;
    }
    .widget-wrap {
        @include grid-row();

        > * {
            @include hkr-panel-reset();
        }
        > ul, > ol, > dl {
            margin-left: $list-side-margin;
            padding-left: 0;
        }
    }
    .widget-title, .widgettitle {
        color: $white;
        margin: rhythm(0.5) 0;
    }
}

/* ## Featured Content
--------------------------------------------- */

.featured-content {
    
    .widget-wrap {
        @include hkr-panel();

        > * {
            @include hkr-panel-reset();
        }
        > ul, > ol, > dl {
            margin-left: $list-side-margin;
            padding-left: 0;        
        }

    }
    .widget-title, .widgettitle {
        font-size: rem-calc(12);
        color: $steel;
        line-height: 1.25em;
        padding-top: rem-calc(5);
        padding-bottom: rem-calc(4);
        margin: 0;
        text-transform: uppercase;
    }

    .entry {
        margin-bottom: rhythm(1);
    }

    @include hkr-post-listing-header();

    .entry-content {
        font-size: rem-calc(12);
        line-height: 1.25em;
    }

    .featured-post-1-headlines-wrap {
        margin: 0 -1rem;
        @include clearfix;
        
        .featured-post-1, .featured-headlines {
            float: left;
            width: 50%;
            padding: 0 $column-gutter/2;

            @media #{$xsmall-only} {
                float: none;
                width: auto;
            }
        }
    }
    .featured-headlines-header {
        font-size: rem-calc(12);
        line-height: 1.25em;
        font-weight: bold;
        text-transform: uppercase;
        color: $darkergray;
        margin-bottom: 0.625em;
    }
    .featured-headlines-list {
        list-style: none;
        margin: 0 0 rhythm(1);
        padding: 0;

        li {
            margin: 0;
        }
        .entry-title {
            font-size: rem-calc(12);
            font-weight: normal;
            color: $darkgray;
            line-height: 1.25em;
            margin-bottom: 0.625em;
        }
    }

    .featured-posts-more {
        margin: 0;
        text-align: right;
        font-size: rem-calc(12);
        line-height: 1.25em;

        a:after {
            content: " \00bb";
        }
    }

}

/* ## Featured Posts Banner
--------------------------------------------- */

.featured-posts-banner {
    position: relative;
    margin: -(rhythm(2)) 0 0;

    .widget-wrap {
        max-width: none;
    }
    .banner-background {
        background: #05533e; /* Old browsers */
        background: -moz-radial-gradient(center, ellipse cover, #05533e 0%, #1a4f3f 48%, #134c3a 61%, #003f2f 100%); /* FF3.6-15 */
        background: -webkit-radial-gradient(center, ellipse cover, #05533e 0%,#1a4f3f 48%,#134c3a 61%,#003f2f 100%); /* Chrome10-25,Safari5.1-6 */
        background: radial-gradient(ellipse at center, #05533e 0%,#1a4f3f 48%,#134c3a 61%,#003f2f 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#05533e', endColorstr='#003f2f',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
        background-repeat: no-repeat;
        background-position: 50% 25%;
        @include background-size(cover);
        padding: 0;
        @include box-shadow(none);
    }
    .has-background-image {
        .banner-overlay {
            background-color: rgba(black,0.3);
        }
    }
    .row {
        padding: rhythm(4) 0 rhythm(2);
        margin: 0 auto;
        min-height: rem-calc(420);
    }
    .widget-title, .widgettitle {
        padding: 0 $column-gutter/2;
        color: $white;
        font-size: rem-calc(14);
        text-transform: uppercase;
        font-weight: normal;
        margin-bottom: 0;
    }

    .entry {
        margin: 0;
    }
    .entry-title {
        margin-bottom: 0;

        &, a {
            font-weight: normal;
            color: $white;
            text-transform: none;
        }
    }
    .entry-meta, .entry-time {
        &, a {
            color: $white;
        }
    }
    .entry-header .entry-title + .entry-meta {
        margin-top: 0;
    }
    .entry-time {
        text-transform: none;
    }
    .entry-meta {
        margin-bottom: 0;
    }

    .banner-post-1 {
        padding: 0 $column-gutter/2;

        .entry-header {
            max-width: rem-calc(450);
            margin-bottom: rhythm(1);
        }
        .entry-title {
            font-size: rem-calc(48);
            line-height: 1.1667em;
            font-family: $font-family-black;
        }

        @media #{$medium-up} {
            @include grid-column($columns:15);
        }
    }
    .banner-posts-list {
        padding: 0 $column-gutter/2;
        margin: 0;
        list-style: none;

        .entry {
            margin-bottom: rhythm(1);
        }
        .entry-title {
            font-size: rem-calc(18);
        }

        @media #{$medium-up} {
            @include grid-column($columns:9, $float:right);
        }
    }

}

/* # Plugins
---------------------------------------------------------------------------------------------------- */

/* ## Genesis eNews Extended
--------------------------------------------- */

.enews-widget,
.enews-widget .widget-title {
    color: $white;
}

.sidebar .widget.enews-widget {
    background-color: $darkergray;
}

.enews-widget input,
.enews-widget input:focus {
    border: 1px solid $darkergray;;
}

.enews-widget input {
    font-size: 1rem;
    margin-bottom: rhythm(0.5);
}

// .enews-widget input[type="submit"] {
//     background-color: #c3251d;
//     color: #fff;
//     margin: 0;
//     width: 100%;
// }

// .enews-widget input:hover[type="submit"],
// .enews-widget input:focus[type="submit"]  {
//     background-color: #fff;
//     color: #333;
// }

.enews form + p {
    margin-top: rhythm(1);
}

/* ## Jetpack
--------------------------------------------- */

#wpstats {
    display: none;
}


/* # Skip Links
---------------------------------------------------------------------------------------------------- */
.genesis-skip-link {
    margin: 0;
}

.genesis-skip-link li {
    height: 0;
    width: 0;
    list-style: none;
}

/* Display outline on focus */
:focus {
    color: $darkergray;
    outline: $default-border-color solid 1px;
}


/* # Site Navigation
---------------------------------------------------------------------------------------------------- */

.nav-bar-wrapper {
    background-color: transparent;
    .has-single-thumbnail-hero & {
        background-color: $body-bg;
    }
}

.current-site-menu-items, 
.current-site-menu-items .menu-item-more > ul {
    > li[class*="current-"] {
        > a {
            color: $darkergray;
            border-bottom: 3px solid $blue;
        }

        li.current-menu-item > a {
            color: $darkergray;
        }
    }
}

.current-site-menu-items > li > .sub-menu {
    border: 1px solid $default-border-color;
    @include box-shadow( 0 2px 2px rgba(black, 0.2) );
}

.current-site-menu-items .sub-menu {
    float: none;

    li {
        float: none;
        border-top: 1px solid $default-border-color;
        &:first-child {
            border-top: none;
        }
    }
    a {
        color: $darkgray;
        font-size: inherit;
        padding-top: 0.75rem;
        padding-bottom: 0.75rem;
        background-color: rgba($white,0.95);
        @include transition(background-color 0.5s, color 0.5s, border-bottom 0.5s);
        &:hover, &:focus {
            color: $darkergray; 
            background-color: rgba($body-bg, 0.95);
        }
    }
}

.current-site-menu-items > .menu-item > .sub-menu {
    left: -9999px;
    opacity: 0;
    position: absolute;
    z-index: 99;
    width: 200px;
    @include transition(opacity .4s ease-in-out);
}

.current-site-menu-items > .menu-item:hover {
    position: static;
    > .sub-menu {
        left: auto;
        opacity: 1;
    }
}

.current-site-menu-items .sub-menu,
.current-site-menu-items .f-dropdown {
    
    .sub-menu {
        width: 100%;
        li:first-child {
            border-top: 1px solid $default-border-color;
        }
        a {
            padding-left: 1.5rem;
        }
        .sub-menu a {
            padding-left: 1.5rem + 1rem;
        }
    }

}

.current-site-menu-items .f-open-dropdown {
    @media #{$xlarge-up} { 
        left: auto !important;
        right: 1rem;
        &:before, &:after {
            display: none;
        }
    }
}

// the hacked up submenu accordion 

.menu-item-has-children {
    position: relative;
}

.current-site-menu-items > li .sub-menu-link {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    width: rem-calc(48);
    border-left: 1px solid $default-border-color;
    text-align: center;

    &:before {
        @include fa-icon();
        content: $fa-var-angle-down;
    }
}

.menu-item-more .f-dropdown > li {
    > .sub-menu-link {
        display: block;
    }
    > ul {
        display: none;
    }
    > .sub-menu-link.submenu-open + ul {
        display: block;
    }
    > .sub-menu-link.submenu-open {
        &:before {
            content: $fa-var-angle-up;
        }
    }
}

/* ## Accessible Menu
--------------------------------------------- */

.menu .menu-item:focus {
    position: static;
}

.menu .menu-item > a:focus + ul.sub-menu,
.menu .menu-item.sfHover > ul.sub-menu {
    left: auto;
    opacity: 1;
}


/* # Archive
---------------------------------------------------------------------------------------------------- */

.archive-description {
    margin: 0;
}

.archive-title {
    margin-bottom: rhythm(1);
    + p {
        margin: -(rhythm(0.5)) 0 rhythm(1);
    }
}

.home, .blog, .archive, .page-template-page_blog {
    @include hkr-post-listing-header();

    // .content > .entry,
    // .infinite-wrap > .entry {
    //     @include hkr-panel();
    // }

    .entry-image {
        margin-bottom: 0;
    }

    .entry-content {
        display: none;
        font-size: rem-calc(12);
        line-height: 1.25em;
    }
}

$entry-feature-image-width: 38.2%;

.entry-feature {
    @include hkr-panel();
    padding: 0;

    .entry-header,
    .entry-content {
        margin-left: $entry-feature-image-width;
    }

    .entry-header {
        padding: 1rem 1rem 0;
    }
    .entry-title {
        @media #{$medium-up} {
            font-size: rem-calc(32);
            line-height: 1.2;
        }
    }
    .entry-content {
        // display: block;
        padding: 0 1rem;
    }
}

.entry-image-feature-square-link {
    display: block;
    width: $entry-feature-image-width;

    img {
        margin-right: 1rem;
        margin-bottom: 0;
    }
} 

.entry-image-small-square-link {
    ~.entry-header .entry-title {
        @media #{$small-only} {
            font-size: 1rem;
        }
    }

    ~ .entry-header, ~ .entry-content {
        margin-left: 75px;
        padding-left: $column-gutter/2;
    }
}

/* ## Entries
--------------------------------------------- */

.entry {
    margin: 0 0 rhythm(1);
}

/* ## Entry Title
--------------------------------------------- */

.entry-title {
    font-size: $h1-font-size - $h1-font-reduction;
    margin-bottom: rhythm(1);

    -ms-word-break: break-all;
    word-break: break-all;

    // Non standard for webkit
    word-break: break-word;

    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;

    @media #{$large-up} {
        font-size: $h1-font-size;
    }

    a {
        font-weight: $header-font-weight;
        text-transform: uppercase;
    }

}

/* ## Entry Meta
--------------------------------------------- */

p.entry-meta {
    margin-bottom: 0;
}

.entry-header .entry-meta {
    margin-bottom: rhythm(1);
    line-height: rhythm(1);
    font-size: rem-calc(14);
}

.entry-time {
    text-transform: uppercase;
}

.entry-header .entry-title + .entry-meta {
    margin-top: -(rhythm(1));
}

.entry-footer {
    clear: both;
}

.entry-footer .entry-meta {
    font-size: rem-calc(12);
    border-top: 1px solid $default-border-color;
    padding-top: rhythm(0.5);
    margin-top: rhythm(0.5);
}

.entry-categories,
.entry-tags {
    display: block;
    text-transform: uppercase;
}

.entry-comments-link::before {
    content: "\2014";
    margin: 0 6px 0 2px;
}

/* ## Entry Image
--------------------------------------------- */

.entry-image {
    margin-bottom: rhythm(0.5);
}

.entry-image-square {
    float: left;
    margin-right: $column-gutter;
    width: 38.2%;
}

.entry-image-content {
    background-color: $darkergray;
    margin: 0 (-$column-gutter/2) rhythm(2);
    // max-height: 576px; // for vertical photos
    overflow: hidden;

    @media #{$medium-up} {
        .content-sidebar &,
        .content-sidebar-sidebar & {
            margin-right: 0;
        }
        .sidebar-content &,
        .sidebar-sidebar-content & {
            margin-left: 0;
        }
        .sidebar-content-sidebar & {
            margin-left: 0;
            margin-right: 0;
        }
    }
    @media #{$large-up} {
        .content-sidebar-wrap & {
            margin-left: 0;
            margin-right: 0;
        }
    }

    .entry-image {
        display: block;
        margin: 0 auto;
    }
}

.entry-image-banner,
.entry-image-hero {
    .hero-meta,
    .entry-time,
    .entry-author a {
        color: $white;
    }
}

.entry-image-banner {
    position: relative;
    text-align: center;
    height: auto;
    margin-top: -(rem-calc(48));
    @media #{$medium-up} {
        text-align: left;
    }
    .banner-text {
        position: relative;
        z-index: 1;
        padding-top: rhythm(7);
        padding-bottom: rhythm(5);
        background-color: rgba(black,0.3);
    }
    .hero-title {
        margin-bottom: 0;
        @media #{$medium-up} {
            margin-bottom: rhythm(0.5);
        }
    }
    .hero-meta {
        @media #{$medium-up} {
            margin-top: -(rhythm(0.5));
            margin-bottom: rhythm(1);
        }
    }
    .hero-subtitle {
        margin-bottom: 0;
    }
    .banner-image {
        position: absolute;
        background: 50% 25% no-repeat $darkergray;
        @include background-size(cover);
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        img {
            display: none;
        }
    }
}
.has-single-thumbnail-banner {
    .nav-bar-wrapper {
        // position above featured image banner
        z-index: 2;
    }
}

.entry-image-hero {
    .hero-meta {
        margin-top: -(rhythm(1));
        margin-bottom: rhythm(1);
    }
}

.entry-image-large-link,
.entry-image-6x4-link,
.entry-image-archive-post-link {
    background: $darkergray;
    display: block;
    margin: (-$column-gutter/2) (-$column-gutter/2) rhythm(1);
    // margin-bottom: rhythm(1);
    @include clearfix();

    img {
        display: block;
        margin: 0 auto;
        float: none;
    }

    .featured-content .widget-wrap > & {
        background: $darkergray;
    }
}

/* ## Pagination
--------------------------------------------- */

.pagination {
    clear: both;
    margin: rhythm(2) 0;
    ul {
        margin: 0;
    }
}

.adjacent-entry-pagination {
    margin-bottom: 0;
}

.archive-pagination li {
    display: inline;
}

.archive-pagination li a:hover,
.archive-pagination li a:focus,
.archive-pagination .active a {
    text-decoration: none;
}

.archive-pagination .active a {
    color: $body-font-color;
}

/* ## Comments
--------------------------------------------- */

.comment-respond,
.entry-comments,
.entry-pings {
    padding: rhythm(1);
    border: 1px solid $default-border-color;
    margin-bottom: rhythm(1);
}

// .comment-respond,
// .entry-pings {
//     padding: 40px 40px 16px;
// }

// .entry-comments {
//     padding: 40px;
// }

.comment-content {
    clear: both;
    word-wrap: break-word;
}

.comment-list {
    margin-left: 0;
    list-style: none;
}

.comment > .children {
    list-style: none;
}

.comment > article {
    margin-bottom: rhythm(2);
}

.children .comment > article {
    margin-bottom: rhythm(1);
}

.comment-respond {
    margin-bottom: rhythm(2)
}

.comment-respond input[type="email"],
.comment-respond input[type="text"],
.comment-respond input[type="url"] {
    @media #{$medium-up} {
        width: 50%;
    }
}

.entry-comments .comment-author {
    margin-bottom: 0;
}

.entry-pings .reply {
    display: none;
}

.bypostauthor {
}

.form-allowed-tags {
    padding: rhythm(1);
}

.comment-edit-link {
    display: inline-block;
    margin-bottom: rhythm(0.5);
}


/* # Sidebars
---------------------------------------------------------------------------------------------------- */

.sidebar {
    @media #{$medium-only} {
        font-size: rem-calc(14);
    }
}

.sidebar p:last-child,
.sidebar ul > li:last-child {
    margin-bottom: 0;
}


/* # Admin
---------------------------------------------------------------------------------------------------- */

.post-edit-link {
    clear: both;
}

.admin-bar {
    .nav-bar.is-stuck {
        margin-top: 32px !important;
    }
}

@media screen and (max-width: 600px) {
    .admin-bar {
        #wpadminbar {
            position: fixed;
        }
        .nav-bar.is-stuck {
            margin-top: 46px !important;
        }
    }
}