/* # Table of Contents
- Imports
- HTML5 Reset
    - Baseline Normalize
    - Box Sizing
    - Float Clearing
- Defaults
    - Typographical Elements
    - Headings
    - Objects
    - Gallery
    - Forms
    - Tables
    - Screen Reader Text
- Structure and Layout
    - Site Containers
    - Column Widths and Positions
    - Column Classes
- Common Classes
    - Avatar
    - Genesis
    - Search Form
    - Titles
    - WordPress
- Widgets
    - Featured Content
- Plugins
    - Genesis eNews Extended
    - Jetpack
- Site Header
    - Title Area
    - Widget Area
- Site Navigation
    - Accessible Menu
    - Site Header Navigation
    - Primary Navigation
    - Secondary Navigation
    - Skip Links
- Content Area
    - Entries
    - Entry Meta
    - Pagination
    - Comments
- Sidebars
- Site Footer
- Media Queries
    - Retina Display
    - Max-width: 1200px
    - Max-width: 960px
    - Max-width: 800px
- Print Styles
*/


/* # Imports
---------------------------------------------------------------------------------------------------- */

// No styles

/* # HTML5 Reset
---------------------------------------------------------------------------------------------------- */

/* ## Baseline Normalize
--------------------------------------------- */

// No styles, already set earlier

/* ## Box Sizing
--------------------------------------------- */

// No styles, already set by Foundation

/* ## Float Clearing
--------------------------------------------- */

.author-box,
.clearfix,
.entry,
.entry-content,
.nav-primary,
.nav-secondary,
.pagination,
.site-container,
.site-footer,
.site-header,
.site-inner,
.wrap {
    @include clearfix();
}

/* # Defaults
---------------------------------------------------------------------------------------------------- */

/* ## Typographical Elements
--------------------------------------------- */

// No styles

/* ## Headings
--------------------------------------------- */

// No styles

/* ## Objects
--------------------------------------------- */

embed,
iframe,
img,
object,
video,
.wp-caption {
    max-width: 100%;
}

img {
    height: auto;
}

.featured-content img,
.gallery img {
    width: auto;
}

/* ## Gallery
--------------------------------------------- */

.gallery {
    overflow: hidden;
}

.gallery-item {
    float: left;
    margin: 0 0 rhythm(1); // margin: 0 0 28px;
    text-align: center;
}

.gallery-columns-2 .gallery-item {
    width: 50%;
}

.gallery-columns-3 .gallery-item {
    width: 33%;
}

.gallery-columns-4 .gallery-item {
    width: 25%;
}

.gallery-columns-5 .gallery-item {
    width: 20%;
}

.gallery-columns-6 .gallery-item {
    width: 16.6666%;
}

.gallery-columns-7 .gallery-item {
    width: 14.2857%;
}

.gallery-columns-8 .gallery-item {
    width: 12.5%;
}

.gallery-columns-9 .gallery-item {
    width: 11.1111%;
}

.gallery img {
    border: 1px solid $default-border-color;
    height: auto;
    padding: 4px;
}

/* ## Forms
--------------------------------------------- */

// No styles

/* ## Tables
--------------------------------------------- */

// No styles

/* ## Screen Reader Text
--------------------------------------------- */

.screen-reader-text,
.screen-reader-text span,
.screen-reader-shortcut {
    position: absolute !important;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    width: 1px;
    border: 0;
    overflow: hidden;
}

.screen-reader-text:focus,
.screen-reader-shortcut:focus,
.genesis-nav-menu .search input[type="submit"]:focus,
.widget_search input[type="submit"]:focus  {
    clip: auto !important;
    height: auto;
    width: auto;
    display: block;
    font-size: 1em;
    font-weight: bold;
    padding: 15px 23px 14px;
    color: #333;
    background: #fff;
    z-index: 100000; /* Above WP toolbar. */
    text-decoration: none;
    box-shadow: 0 0 2px 2px rgba(0,0,0,.6);
}

.more-link {
    position: relative;
}


/* # Structure and Layout
---------------------------------------------------------------------------------------------------- */

/* ## Site Containers
--------------------------------------------- */

.site-inner {
    clear: both;

    .custom-background & {
        background: $body-bg;
    }
}

/* ## Column Widths and Positions
--------------------------------------------- */

/* ### Site Layout Options */

.content-sidebar,
.sidebar-content,
.content-sidebar-sidebar,
.sidebar-content-sidebar,
.sidebar-sidebar-content {
    .site-inner {
        @include grid-row();
    }
}

.content,
.sidebar-primary,
.sidebar-secondary {
    @include grid-column($columns:24, $float:false);
}

@media #{$medium-up} {

    .content-sidebar {
        .content {
            @include grid-column($columns:15);
        }
        .sidebar-primary {
            @include grid-column($columns:9, $float:right);
        }
    }

    .sidebar-content {
        .content {
            @include grid-column($columns:15, $push:9);
        }
        .sidebar-primary {
            @include grid-column($columns:9, $float:right, $pull:15);
        }
    }

    .content-sidebar-sidebar {
        .content-sidebar-wrap {
            @include grid-column($columns:19, $collapse:true);
        }
        .sidebar-secondary {
            @include grid-column($columns:5, $float:right);
        }
        .content {
            @include grid-column($columns:15);
        }
        .sidebar-primary {
            @include grid-column($columns:9, $float:right);
        }
    }

    .sidebar-sidebar-content,
    .sidebar-content-sidebar {
        .content-sidebar-wrap {
            @include grid-column($columns:19, $collapse:true, $push:5);
        }
        .sidebar-secondary {
            @include grid-column($columns:5, $float:right, $pull:19);
        }
    }

    .sidebar-sidebar-content {
        .content {
            @include grid-column($columns:15, $push:9);
        }
        .sidebar-primary {
            @include grid-column($columns:9, $float:right, $pull:9);
        }
    }

    .sidebar-content-sidebar {
        .content {
            @include grid-column($columns:15);
        }
        .sidebar-primary {
            @include grid-column($columns:9, $float:right);
        }
    }

}

@media #{$large-up} {
    .content-sidebar {
        .sidebar-primary {
            @include grid-column($columns:8, $float:right);
        }
    }
    .sidebar-content {
        .sidebar-primary {
            @include grid-column($columns:8, $float:right, $pull:16);
        }
    }
}


/* # Common Classes
---------------------------------------------------------------------------------------------------- */

/* ## Avatar
--------------------------------------------- */

.avatar {
    float: left;
}

.alignleft .avatar,
.author-box .avatar {
    margin-right: $column-gutter/2;
}

.alignright .avatar {
    margin-left: $column-gutter/2;
}

.comment .avatar {
    margin: 0 $column-gutter/2 rhythm(1) 0;
}

/* ## Genesis
--------------------------------------------- */

.breadcrumb {
    font-size: rem-calc(14);
    line-height: rhythm(1);
    margin: rhythm(2) 0 rhythm(0.5);

    + .entry,
    + .archive-description {
        margin-top: 0;
    }
}

.author-box {
    background-color: $white;
    margin-bottom: rhythm(2);
    padding: 1rem;
    @include box-shadow($default-shadow);
}

.author-box-title {
    margin-top: 0;
    margin-bottom: rhythm(0.25);
    text-transform: none;
}

.author-box p:last-child {
    margin-bottom: 0;
}

/* ## Search Form
--------------------------------------------- */

.search-form {
    overflow: hidden;
}

.site-header .search-form {
    float: right;
    margin-top: rhythm(0.5);
}

.entry-content .search-form,
.site-header .search-form {
    width: 50%;
}

.genesis-nav-menu .search input[type="submit"],
.widget_search input[type="submit"] {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    padding: 0;
    position: absolute;
    width: 1px;
}

/* ## Title Links
--------------------------------------------- */

.entry-title a,
.widget-title a,
.widgettitle a {
    color: $header-font-color;
}

.entry-title a:hover,
.entry-title a:focus {
    color: $blue;
}

/* ## WordPress
--------------------------------------------- */

a.aligncenter img {
    display: block;
    margin: 0 auto;
}

a.alignnone {
    display: inline-block;
}

.alignleft {
    float: left;
    text-align: left;
}

.alignright {
    float: right;
    text-align: right;
}

a.alignleft,
a.alignnone,
a.alignright {
    max-width: 100%;
}

img.centered,
.aligncenter {
    display: block;
    margin: 0 auto rhythm(1);
}

img.alignnone,
.alignnone {
    margin-bottom: rhythm(0.5);
}

a.alignleft,
img.alignleft,
.wp-caption.alignleft {
    margin: 0 $column-gutter rhythm(0.5) 0;
}

a.alignright,
img.alignright,
.wp-caption.alignright {
    margin: 0 0 rhythm(0.5) $column-gutter;
}

.wp-caption-text {
    font-size: rem-calc(12);
    font-weight: 700;
    text-align: center;
    margin-top: rhythm(0.5);
    color: $mediumgray;
}

.entry-content p.wp-caption-text {
    margin-bottom: 0;
}

.sticky {
}

.entry-content .wp-audio-shortcode,
.entry-content .wp-playlist,
.entry-content .wp-video {
    margin: 0 0 rhythm(1);
}


/* # Widgets
---------------------------------------------------------------------------------------------------- */

.widget {
    word-wrap: break-word;
}

.widget-title,
.widgettitle {
    font-size: rem-calc(18);
    line-height: rhythm(1);
    margin-bottom: rhythm(0.5);
    text-transform: none;

    + * {
        background: $white;
        padding: $column-gutter/2;
        @include box-shadow($default-shadow);
    }
    + ul, + ol, + dl {
        margin-left: 0;
        padding-left: $column-gutter/2 + $list-side-margin;
    }
}

.textwidget > :last-child {
    margin-bottom: 0;
}

.widget_calendar table {
    width: 100%;
}

.widget_calendar td,
.widget_calendar th {
    text-align: center;
}

/* ## Featured Content
--------------------------------------------- */

.featured-content .entry {
    border-bottom: 2px solid $default-border-color;
    margin-bottom: rhythm(1);
    padding: 0 0 rhythm(1);
}

.featured-content .entry-title {
    font-size: $h3-font-size;
}


/* # Plugins
---------------------------------------------------------------------------------------------------- */

/* ## Genesis eNews Extended
--------------------------------------------- */

.enews-widget,
.enews-widget .widget-title {
    color: $white;
}

.sidebar .widget.enews-widget {
    background-color: $darkergray;
}

.enews-widget input,
.enews-widget input:focus {
    border: 1px solid $darkergray;;
}

.enews-widget input {
    font-size: 1rem;
    margin-bottom: rhythm(0.5);
}

// .enews-widget input[type="submit"] {
//     background-color: #c3251d;
//     color: #fff;
//     margin: 0;
//     width: 100%;
// }

// .enews-widget input:hover[type="submit"],
// .enews-widget input:focus[type="submit"]  {
//     background-color: #fff;
//     color: #333;
// }

.enews form + p {
    margin-top: rhythm(1);
}

/* ## Jetpack
--------------------------------------------- */

#wpstats {
    display: none;
}


/* # Skip Links
---------------------------------------------------------------------------------------------------- */
.genesis-skip-link {
    margin: 0;
}

.genesis-skip-link li {
    height: 0;
    width: 0;
    list-style: none;
}

/* Display outline on focus */
:focus {
    color: $darkergray;
    outline: $default-border-color solid 1px;
}


/* # Site Header
---------------------------------------------------------------------------------------------------- */

// No styles

/* # Site Navigation
---------------------------------------------------------------------------------------------------- */

.genesis-nav-menu {
    clear: both;
    font-size: 16px;
    font-size: 1.6rem;
    line-height: 1;
    width: 100%;
}

.genesis-nav-menu .menu-item {
    display: inline-block;
    text-align: left;
}

.genesis-nav-menu a {
    color: #333;
    text-decoration: none;
    display: block;
    padding: 30px 24px;
}

.genesis-nav-menu a:hover,
.genesis-nav-menu a:focus,
.genesis-nav-menu .current-menu-item > a,
.genesis-nav-menu .sub-menu .current-menu-item > a:hover,
.genesis-nav-menu .sub-menu .current-menu-item > a:focus  {
    color: #c3251d;
    text-decoration: underline;
}

.genesis-nav-menu .sub-menu {
    left: -9999px;
    opacity: 0;
    position: absolute;
    -webkit-transition: opacity .4s ease-in-out;
    -moz-transition:    opacity .4s ease-in-out;
    -ms-transition:     opacity .4s ease-in-out;
    -o-transition:      opacity .4s ease-in-out;
    transition:         opacity .4s ease-in-out;
    width: 200px;
    z-index: 99;
}

.genesis-nav-menu .sub-menu a {
    background-color: #fff;
    border: 1px solid #eee;
    border-top: 0;
    font-size: 14px;
    font-size: 1.4rem;
    padding: 20px;
    position: relative;
    width: 200px;
    word-wrap: break-word;
}

.genesis-nav-menu .sub-menu .sub-menu {
    margin: -55px 0 0 199px;
}

.genesis-nav-menu .menu-item:hover {
    position: static;
}

.genesis-nav-menu .menu-item:hover > .sub-menu {
    left: auto;
    opacity: 1;
}

.genesis-nav-menu > .first > a {
    padding-left: 0;
}

.genesis-nav-menu > .last > a {
    padding-right: 0;
}

.genesis-nav-menu > .right {
    color: #fff;
    float: right;
    list-style-type: none;
    padding: 30px 0;
}

.genesis-nav-menu > .right > a {
    display: inline;
    padding: 0;
}

.genesis-nav-menu > .rss > a {
    margin-left: 48px;
}

.genesis-nav-menu > .search {
    padding: 10px 0 0;
}

/* ## Accessible Menu
--------------------------------------------- */

.menu .menu-item:focus {
    position: static;
}

.menu .menu-item > a:focus + ul.sub-menu,
.menu .menu-item.sfHover > ul.sub-menu {
    left: auto;
    opacity: 1;
}

/* ## Site Header Navigation
--------------------------------------------- */

// No styles

/* ## Primary Navigation
--------------------------------------------- */

.nav-primary {
    background-color: #333;
}

.nav-primary .genesis-nav-menu a {
    color: #ccc;
    text-decoration: none;
}

.nav-primary .genesis-nav-menu a:hover,
.nav-primary .genesis-nav-menu a:focus,
.nav-primary .genesis-nav-menu .current-menu-item > a {
    color: #fff;
    text-decoration: underline;
}

.nav-primary .genesis-nav-menu .sub-menu a {
    color: #333;
}

.nav-primary .genesis-nav-menu .sub-menu a:hover,
.nav-primary .genesis-nav-menu .sub-menu a:focus,
.nav-primary .genesis-nav-menu .sub-menu .current-menu-item > a {
    color: #c3251d;
    text-decoration: underline;
}

/* ## Secondary Navigation
--------------------------------------------- */

.nav-secondary {
    background-color: #fff;
}

/* # Content Area
---------------------------------------------------------------------------------------------------- */

.archive-description {
    margin: rhythm(2) 0 rhythm(1);
    & + .entry {
        margin-top: 0;
    }
}

.archive-title {
    margin-bottom: rhythm(0.5);
}

/* ## Entries
--------------------------------------------- */

.entry {
    margin: rhythm(2) 0;
}

/* ## Entry Title
--------------------------------------------- */

.entry-header {
    margin-bottom: rhythm(1);
}

.entry-title {
    margin-bottom: 0;

    a {
        font-weight: $header-font-weight;
        text-transform: uppercase;
    }
}

/* ## Entry Meta
--------------------------------------------- */

p.entry-meta {
    margin-bottom: 0;
}

.entry-header .entry-meta {
    margin-bottom: $paragraph-margin-bottom;
    line-height: rhythm(1);
    font-size: rem-calc(14);
    .entry-time {
        text-transform: uppercase;
    }
}

.entry-footer .entry-meta {
    font-size: rem-calc(12);
    border-top: 1px solid $default-border-color;
    padding-top: rhythm(0.5);
    margin-top: rhythm(0.5);
}

.entry-categories,
.entry-tags {
    display: block;
    text-transform: uppercase;
}

.entry-comments-link::before {
    content: "\2014";
    margin: 0 6px 0 2px;
}

/* ## Entry Image
--------------------------------------------- */

.entry-image {
    margin-bottom: rhythm(0.5);
}

.entry-image-large-link {
    background: $darkergray;
    display: block;
    margin: (-$column-gutter/2) (-$column-gutter/2) rhythm(1);
    // margin-bottom: rhythm(1);
    @include clearfix();

    img {
        display: block;
        margin: 0 auto;
    }
}

/* ## Page Types
--------------------------------------------- */

.home, .blog, .page-template-page_blog, .archive {
    
    .content > .post {
        background: $white;
        padding: $column-gutter/2;
        @include box-shadow($default-shadow);

        .entry-header {
            margin-bottom: rhythm(0.5);
        }
        .entry-title {
            font-size: rem-calc(20);
            line-height: rhythm(1);
            text-transform: none;
            a {
                text-transform: none;
            }
        }
        .entry-header .entry-meta {
            font-size: rem-calc(12);
        }

    }
}

/* ## Pagination
--------------------------------------------- */

.pagination {
    clear: both;
    margin: rhythm(2) 0;
    ul {
        margin: 0;
    }
}

.adjacent-entry-pagination {
    margin-bottom: 0;
}

.archive-pagination li {
    display: inline;
}

.archive-pagination li a:hover,
.archive-pagination li a:focus,
.archive-pagination .active a {
    text-decoration: none;
}

.archive-pagination .active a {
    color: $body-font-color;
}

/* ## Comments
--------------------------------------------- */

.comment-respond,
.entry-comments,
.entry-pings {
    padding: rhythm(1);
    border: 1px solid $default-border-color;
    margin-bottom: rhythm(1);
}

// .comment-respond,
// .entry-pings {
//     padding: 40px 40px 16px;
// }

// .entry-comments {
//     padding: 40px;
// }

.comment-content {
    clear: both;
    word-wrap: break-word;
}

.comment-list {
    margin-left: 0;
    list-style: none;
}

.comment > .children {
    list-style: none;
}

.comment > article {
    margin-bottom: rhythm(2);
}

.children .comment > article {
    margin-bottom: rhythm(1);
}

.comment-respond {
    margin-bottom: rhythm(2)
}

.comment-respond input[type="email"],
.comment-respond input[type="text"],
.comment-respond input[type="url"] {
    @media #{$medium-up} {
        width: 50%;
    }
}

.entry-comments .comment-author {
    margin-bottom: 0;
}

.entry-pings .reply {
    display: none;
}

.bypostauthor {
}

.form-allowed-tags {
    padding: rhythm(1);
}

.comment-edit-link {
    display: inline-block;
    margin-bottom: rhythm(0.5);
}


/* # Sidebars
---------------------------------------------------------------------------------------------------- */

.sidebar {
    @media #{$medium-only} {
        font-size: rem-calc(14);
    }
}

.sidebar p:last-child,
.sidebar ul > li:last-child {
    margin-bottom: 0;
}

.sidebar .widget {
    margin: rhythm(2) 0;
}


/* # Site Footer
---------------------------------------------------------------------------------------------------- */

// No styles


/* # Media Queries
---------------------------------------------------------------------------------------------------- */

// Styled within sections above

/* # Print Styles
---------------------------------------------------------------------------------------------------- */

// No styles
