// Main
// - - - - - - - - - - - - - - - - - - - - - - - - -

main {
    background-color: $lightgray;
    &:before, &:after {
      content: " ";
      display: table;
    }
    &:after {
      clear: both;
    }
}